<%= render 'memories/head-menu' %>
<div class="mypage-wrap">
  <div class="mypage-top">
  </div>
  <div class="memory-list">
    <div class="list-box">
      <% @memory.each do |memory| %>
        <div class="box-content">
          <%= link_to memory_path(memory.id), method: :GET do %>
            <%= image_tag memory.image.url %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>