<%= render 'head-menu' %>
<div class="heading">
  <div class="head__back-image">
    <div class="rgba">
      <h1>Edit Memory</h1>
      <%= render 'form', memory: @memory %>
    </div>
  </div>
</div>