<div class="heading">
  <div class="head__back-image">
    <div class="rgba">
      <div class="menu-bar"></div>
      <div class="center-title">Mon-voyage</div>
      <div class="outline">〜 旅にでよう 〜 <br>
        自分の旅を発信して、次の旅へ繋げよう</div>
    </div>
  </div>
</div>
<div class="topics">
  <div class="new-topic">
    <div class="sub-title">New Topics</div>
    <div class="contents-row" >
      <div class="slick-box">
        <% @memories.each do |memory| %>
          <div class="memory-images">
            <%= link_to memory_path(memory.id), method: :GET do %>
              <%= image_tag memory.image.url, id: "image" %>
            <% end %>
          </div>
        <% end %>
        <%# <%= render partial: 'memories', locals:{memories: @memories} %> 
      </div>
    </div>
  </div>
</div>
