<div class="heading">
  <div class="head__back-image">
    <div class="rgba">
      <div class="menu-bar"></div>
      <div class="center-title">Mon-voyage</div>
      <div class="outline">〜 旅にでよう 〜</div>
    </div>
  </div>
</div>
<div class="topics">
  <div class="new-topic">
    <div class="sub-title">New Topic
    </div>
    <div class="contents row" >
    <%= render partial: 'memories', locals:{memories: @memories} %>
    </div>
</div>
