@import "shared/variable";

.heading{
  .menu-bar{
    height: 100px;
}

  .head__back-image{
    height: 100vh;
    width: 100%;
    background-image: url('/images/cover3.jpg');
    background-size: cover;
    .rgba{
      background: rgba(145,145,145,0.5);
      height: 100%;
      .center-title{
        color: white;
        height: 300px;
        line-height: 300px;
        text-align: center;
        font-family: $main-font;
        font-weight: bold;
        font-size: 60px;
      }
      .outline{
        color: #000000;
        text-align: center;
        height: 80px;
        font-size: 20px;
      }
    }
  }
}

.sub-title{
  text-align: center;
  line-height: 110px;
  letter-spacing: 0.2em;
  font-weight: bold;
  height: 110px;
  font-size: 30px;
  font-family: $main-font;
  background-color: $back-col;
}

.topics{
  height: 800px;
  width: 100%;
  display: flex;
  .new-topic{
    width: 100%;
    background-color: $back-col;
    .slick-box{
      // width: 100%;
      // display: flex;
      background-color: $back-col;
      .memory-images{
        height: 500px;
        width: 500px;
        #image{
          max-height: 500px;
          max-width: 500px;
        }
      }
    }
  }
}
