/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "shared/variable";
@import "index";
@import "like";
@import "memories";
@import "shared/form";
@import "shared/head-menu";
@import "new";
@import "edit";
@import "show";



html{
  margin: 0;
  padding: 0;
}

body{
  display: block;
}


nav{
display: none;
background-color: #141212;
height: 100px;
  .nav-wrapper{
    .brand-logo{
      height: 100%;
      font-family: $main-font;
      padding-top: 10px;
      letter-spacing: 0.1em;
    }
    #nav-mobile{
      height: 100%;
      li{
        padding-top: 10px;
        letter-spacing: 0.1em;
      }
    }
  }
}
